<h1>Edit Genre</h1><br>

<%= form_for(@genre) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit %>
<% end %>
