<%= form_for(@genre) do |f| %>
<<<<<<< HEAD
  <%= f.label :name %>
  <%= f.text_field :name %>


  <%= f.submit %>

<% end %>
=======
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <%= f.submit %>
<% end %>
>>>>>>> e302cf340e3215d1e2347951f277cf5154a2dcd7
