<h3>Song Form</h3>
<%=form_for(@song) do |f|%>
<p><%= f.label :name%>
<%=f.text_field :name%></p>
<p><%= f.label :artist_id%></p>
<%= f.number_field :artist_id%>
<p><%= f.label :genre_id%></p>
<p><%= f.number_field :genre_id%></p>
<p><%= f.submit %></p>
<% end %>
