<h3>Artist Form</h3>

<%= form_for(@artist) do |f| %>
  <%= label_tag :name, "Name:" %><br>
  <%= f.text_field :name %><br>

  <%= label_tag :bio, "Bio:" %><br>
  <%= f.text_area :bio %><br>

  <%= f.submit %>
<% end %>
