<h1>Artist#edit</h1>
<p>Find me in app/views/artists/edit.html.erb</p>

<h1>Edit an Artist</h1>
<%= form_for(@artist) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :bio %>
    <%= f.text_area :bio %><br>
    <%= f.submit %>
<% end %>    