<h1>Artist Update Form</h1>
<%= form_for(@artist) do |a| %>
  <%= a.label :name %>
  <%= a.text_field :name %><br>
  <%= a.label :bio %>
  <%= a.text_field :bio %><br>
  <%= a.submit "Update Artist" %>
<% end %>
