<h1> Add an Artist </h1>

<h3> Artist Form </h3>

<%= form_for(@artist) do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>

  <p>
  <%= f.label :bio %>
  <%= f.text_area :bio%>
  </p>

  <%= f.submit %>
<% end %>
