<h1>Create New Artist</h1>

<%= form_for @artist do |f| %>
<p>
  <%= label_tag(:artist_name, "Name:")%>
  <%= f.text_field :name %>
</p>
<p>
  <%= label_tag(:artist_bio, "Bio:")%>
  <%= f.text_area :bio %>
</p>
  <%= f.submit %>
<% end %>
