<h1>New Artist</h1><br>

<%= form_for(@artist) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :bio %>
  <%= f.text_area :bio %>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit %>
<% end %>
