<h1>New Artist Form</h1>
<%= form_tag artists_path do %>
<%= label_tag "artist[name]", "Name:" %>
<%= text_field_tag("artist[name]") %>
<%= label_tag "artist[bio]", "Bio:" %>
<%= text_area_tag "artist[bio]" %>
<%= submit_tag "Create Artist" %>
<%end%>
