
<h1><%= @artist.name%></h1>
  <p> <%= @artist.bio %></p>
  <h3> Songs </h3>
    <%= @artist.songs.each do |song| %>
      <p><%= link_to song.name, song_path(song) %></p>
    <% end %>
  <h3> Genres </h3>
    <%= @artist.genres.each do |genre| %>
      <p><%= link_to genre.name, genre_path(genre) %></p>
    <% end %>
