<%= form_for(@song) do |f| %>
  <label>Song Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Genre</label><br>
  <%= f.number_field :genre_id%>

  <label>Artist</label><br>
  <%= f.number_field :artist_id%>

  <%= f.submit %>
<% end %>
