<%= link_to 'songs_path', songs_path %>
<%= form_for @songs do |f| %>

<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :artist_id %><br>
  <%= f.text_field :artist_id %>
</p>

<p>
  <%= f.label :genre_id %><br>
  <%= f.text_field :genre_id %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
