<h3>Song Form</h3>

<%= form_for(@song) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Artist id:</label><br>
  <%= f.number_field :artist_id %><br>

  <label>Genre id:</label><br>
  <%= f.number_field :genre_id %><br>

  <%= f.submit %>
<% end %>
