<h2>Edit Song Form</h2>

<%= form_tag song_path(@song), method: "patch" do %>
  <%= text_field(:song, :name) %>
  <%= text_field(:song, :artist_id) %>
  <%= text_field(:song, :genre_id) %>

  <!-- <%= select_tag 'song[artist_id]', options_for_select(@artists.collect{ |i| [i.name, i.id] }) %><br>
  <%= select_tag 'song[genre_id]', options_for_select(@genres.collect{ |i| [i.name, i.id] }) %><br> -->
  <%= submit_tag "Update Song" %>
<% end %>
