<h1>Song Update Form</h1>
<%= form_for(@song) do |s| %>
  <%= s.label :name %>
  <%= s.text_field :name %><br>
  <%= s.label :artist_id %>
  <%= s.text_field :artist_id %><br>
  <%= s.label :genre_id %>
  <%= s.text_field :genre_id %><br>
  <%= s.submit "Update Song" %>
<% end %>
