<h3>Song Form</h3>

<%= form_for(@song) do |f| %>
  <%= label_tag :name, "Song name:" %><br>
  <%= f.text_field :name %><br>

  <%= label_tag :artist_id, "Artist id:" %><br>
  <%= f.text_field :artist_id %><br>

  <%= label_tag :genre_id, "Genre id:" %><br>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>
<% end %>
