<h1>Edit Song Form</h1>
    <%= form_for(@song) do |f| %>
        <%= f.label :name %><br>
        <%= f.text_field :name%><br>
        <%= f.label :"Artist ID" %><br>
        <%= f.text_field :artist_id %><br>
        <%= f.label :"Genre ID" %><br>
        <%= f.text_field :genre_id %><br>
        <%= f.submit "Update Song" %>
    <% end %>