<%= form_for(@song) do |f| %>
  <label>Edit Song:</label><br>
  My Song name: <%= f.text_field :name %><br>
  Artist ID: <%= f.number_field :artist_id %><br>
  Genre ID: <%= f.number_field :genre_id %><br>
  <%= f.submit %>
<% end %>
