<h1>Edit Song</h1>

<%= form_for(@song) do |f| %>

  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Artist:</label><br>
  <%= f.number_field :artist_id %><br>

  <label>Genre:</label><br>
  <%= f.number_field :genre_id %><br>
  
  <%= f.submit %>
<% end %>