<h3>Song From</h3>

<%= form_for @song do |f| %>
	<label for="">Song Name:</label><br>
	<%= f.text_field :name %><br>

	<label for="">Artist id:</label><br>
	<%= f.number_field :artist_id %><br>
	
	<label for="">Genre id:</label><br>
	<%= f.number_field :genre_id %><br>
	
	<%= f.submit %>
<% end %>