<h1>"My edit"</h1>

<%= form_for(@song) do |f| %>
  <%= f.text_field :name %><br>
  <h1>"My artist"</h1>
  <%= f.text_field :artist_id %><br>

  <%= f.text_field :genre_id%><br>
  <%= f.submit "Update Song" %>

<% end %>
