<h1>Edit Form</h1>
<%= form_for(@song) do |f| %>
  <%= f.label :"Song name:" %>
  <%= f.text_field :name %>

  <%= f.label :"Artist ID:" %>
  <%= f.number_field :artist_id %>
  
  <%= f.label :"Genre ID:" %>
  <%= f.number_field :genre_id %>
  
  <%= f.submit %>
<% end %>