<h3>Song Form</h3>
 <%= form_for(@song) do |s| %>
    <label>Song Name:</label><br>
    <%= s.text_field :name %><br>
    <label>Artist ID:</label><br>
    <%= s.text_field :artist_id %><br>
    <label>Genre ID:</label><br>
    <%= s.text_field :genre_id %><br>
    <%= s.submit %>
<% end %>
