<h1>song#edit</h1>

<%= form_for(@song) do |f| %>
  <label>Song Name:</label><br>
  <%= f.text_field :name %><br>
  <label>Artist Name:</label><br>
  <%= f.text_field :artist_id %><br>
    <label>Genre Name:</label><br>
  <%= f.text_field :genre_id %><br>


   <label>Update song</label><br>

  <%= f.submit %>
<% end %>