<html>
<head>
  <title></title>
</head>
<body>
  <h1>Edit Song</h1>
  <%= form_for(@song) do |t| %>
  <label>Name:</label><br>
  <%= t.text_field :name %><br>
  <label>Artist: </label><br>
  <%= t.text_field :artist_id %><br>
  <label>Genre:</label><br>
  <%= t.text_field :genre_id %>
  <%= t.submit %>
  <% end %>
</body>
</html>