<h1>Edit Song Form</h1>
<%= form_for(@song) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Artist Id:</label><br>
  <%= f.number_field :artist_id %><br>

  <label>genre Id:</label><br>
  <%= f.number_field :genre_id %><br>

  <%= f.submit %>
<% end %>
