<h1>Edit Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :artist_id, "Artist" %>
  <%= f.text_field :artist_id %>

  <%= f.label :genre_id, "Genre" %>
  <%= f.text_field :genre_id %>

  <%= f.submit %>
<% end %>
