<h1>Edit Song form:</h1>

<%= form_for(@song) do |f| %>
  
  <%= f.label :song_name %>
  <%= f.text_field :name %><br>

  <%= f.label :genre_id %>
  <%= f.text_field :genre_id %><br>

  <label>Artist ID:</label>
  <%= f.collection_select :artist_id, Artist.all, :id, :name %><br><br>

  <%= f.submit %>

<% end %> 