<%= form_for(@song) do |f| %>
  <label>Song name:</label><br>
  <%= f.text_field :name %><br>

  <label>Song artist_id</label><br>
  <%= f.number_field :artist_id %><br>

  <label>Song genre_id</label><br>
  <%= f.number_field :genre_id %><br>

  <%= f.submit %>
<% end %>
