<h1>Edit Song</h1>

<%= form_for @song do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br>

<!--  <%= f.collection_select :artist_id, Artist.all, :id, :name %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %> -->

  <%= f.label :artist_id %>:
  <%= f.number_field :artist_id %><br>

  <%= f.label :genre_id %>:
  <%= f.number_field :genre_id %><br>

  <%= f.submit %>
<% end %>