<h1>Edit a Song</h1>

<%= form_for(@song) do |f| %>
<label>Songs's Title:</label>
<%= f.text_field :name %>
<label>Artist:</label>
<%= f.text_field :artist_id %>
<label>Genre:</label>
<%= f.text_field :genre_id %>
<%= f.submit %>
<% end %>