<h3>Song Form</h3>

<%= form_for(@song) do |f| %>
  <label>Song Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Song Genre ID</label><br>
  <%= f.text_area :genre_id %><br>

  <label>Song Artist ID</label><br>
  <%= f.text_area :artist_id %><br>

  <%= f.submit %>
<% end %>
