<%= form_for(@song) do |f| %>
<<<<<<< HEAD
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.label :artist_id %>
  <%= f.text_field :artist_id %>
  
  <%= f.label :genre_id %>
  <%= f.text_field :genre_id %>


  <%= f.submit %>

<% end %>
=======

  <label>Name:</label><br>
  <%= f.text_field :name %><br>
  <label>Artist ID:</label><br>
  <%= f.number_field :artist_id %><br>
  <label>Genre ID:</label><br>
  <%= f.number_field :genre_id %><br>

  <%= f.submit %>
<% end %>
>>>>>>> e302cf340e3215d1e2347951f277cf5154a2dcd7
