<h1>Edit Form</h1>

<%= form_for(@song) do |f| %>
  <label>Song Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Arist ID:</label>
  <%= f.text_field :artist_id %><br>

  <label>Genre ID:</label>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>
<% end %>