<%= form_for @song do |f| %>

  <label>Song Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Song Artist Id:</label><br>
  <%= f.number_field :artist_id %><br>

  <label>Song Genre Id:</label><br>
  <%= f.number_field :genre_id %><br>

  <%= f.submit %>
<% end %>
