<%= form_for @song do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name, value: @song.name %><br>
  <br>

  <label>Artist ID:</label><br>
  <%= f.text_field :artist_id, value: @song.artist_id %><br>
  <br>

  <label>Genre ID:</label><br>
  <%= f.text_field :genre_id, value: @song.genre_id %><br>
  <br>

  <%= f.submit "Update Song" %>
<% end %>
