<%= form_for(@song) do |f| %>
  <label>song name:</label><br>
  <%= f.text_field :name %><br>

  <label>song artist:</label><br>
  <%= f.text_field :artist_id %><br>

  <label>song genre:</label><br>
  <%= f.text_field :genre_id %><br>
 
  <%= f.submit %>
<% end %>