<h1> Create a New Song </h1>
<%= form_for(@song) do |f| %>
  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Artist ID:</label><br>
  <%= f.text_field :artist_id %><br>
  Genre ID:</label><br>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>
<% end %>
