<h1>New Song</h1>
<%=form_for(@song) do |f|%>
  <%=f.label :name%>
  <%=f.text_area :name%>
  <%=f.label :artist%>
  <%=f.text_area :artist%>
  <%=f.label :genre%>
  <%=f.text_area :genre%>
  <%=f.submit%>
<%end%>
