<h1>Create a Song</h1>
<%= form_for(@song) do |t| %>
<%= t.label :name %>
<%= t.text_field :name %>

<%= t.label :artist_id %>
<%= t.text_field :artist_id %>

<%= t.label :genre_id %>
<%= t.text_field :genre_id %>
<%= t.submit "Create Song" %>
<%end%>
