<h2>New Song Form</h2>

<%= form_tag songs_path do %>
  <%= text_field(:song, :name) %><br>
  <%= text_field(:song, :artist_id) %>
  <%= text_field(:song, :genre_id) %>
  <%= submit_tag "Create Song" %>
<% end %>
