<h1>New Song </h1><br>
<%= form_for (@song) do |f| %>
<label> New Name </label><br>
<%=f.text_field :name %><br>
<label> Artist ID </label><br>
<%=f.number_field :artist_id %><br>
<label>  Genre ID </label><br>
<%=f.number_field :genre_id %><br>
<%= f.submit 'Create Song' %><br>

<% end %>
