<h3>Create Song Form</h3>
  <%= form_for(@song) do |f| %>
    <%= f.label(:name) %><br>
    <%= f.text_field(:name) %><br>

    <%= f.label(:genre_id) %><br>
    <%= f.text_field(:genre_id) %>
    <%= f.collection_radio_buttons(:genre_id, Genre.all, :id, :name) %><br>

    <%= f.label(:artist_id) %><br>
    <%= f.text_field(:artist_id) %>
    <%= f.collection_radio_buttons(:artist_id, Artist.all, :id, :name) %><br>

    <%= f.submit %>
  <% end %>
