<h1>New Song</h1>
<%= form_for(@song) do |f| %> 
<p><%= f.label :name %> <%= f.text_field :name %></p>
<p>
  <%= f.label :artist_id %>
  <%= f.collection_select :artist_id, Artist.all, :id, :name %>
</p>
<p>
  <%= f.label :genre %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>
</p>
<p><%= f.submit %></p>
<% end %>