<h1>Song Form</h1>

<%= form_for @song do |a| %>
<%= a.label :name %>
<%= a.text_field :name %>
<%= a.label :artist_id %>
<%= a.number_field :artist_id %>
<%= a.label :genre_id %>
<%= a.number_field :genre_id %>
<%= a.submit 'Create Song' %>
<% end %>
