<%= form_tag songs_path do %>
  <label>Song Name:</label><br>
  <%= text_field_tag :'song[name]' %><br>
  
  <label>Song's Artist:</label><br>
  <%= text_field_tag :'song[artist_id]' %><br>
  
  <label>Song's Genre:</label><br>
  <%= text_field_tag :'song[genre_id]' %><br>
  
  <%= submit_tag "Create Song" %>
<% end %>

