<h1>Create A New Song</h1>

<%=form_for @song do |f|%>
<%=f.label 'Song Name'%>
<%=f.text_field :name%>
<%=f.label 'Artist Name'%>
<%=f.text_field :artist_id%>
<%=f.label 'Song Genre'%>
<%=f.text_field :genre_id%>
<%=f.submit%>
<%end%>
