<h1>Create Song</h1>

<%= form_for @song do |f| %>
  <label>Song Name:</label>
  <br>
  <%= f.text_field :name %>
  <br>
  <%= f.number_field :artist_id %>
  <br>
  <%= f.number_field :genre_id %>
  <br>
  <%= f.submit %>

<%end%>
