<h1>Create New Song:</h1><br>

<%= form_for(@song) do |f| %>
	<label>Title:</label><br>
	<%= f.text_field :name %><br>
	<label>Artist ID:</label><br>
	<%= f.number_field :artist_id %><br>
	<label>Genre ID:</label><br>
	<%= f.number_field :genre_id %><br>
	<%= f.submit %>	

<% end %>
