<%= form_for(@song) do |f| %>
  <label>Song name:</label><br>
  <%= f.text_field :name, :id => "name" %><br>

  <label>Artist:</label><br>
  <%= f.text_field :artist_id, :id => "song[artist_id]" %><br>

  <label>Genre:</label><br>
  <%= f.text_field :genre_id, :id => "song[genre_id]" %><br>
  
  <%= f.submit %>
<% end %>