<h3>New Song</h3>

<%= form_for(@song) do |f| %>

  <label>Song Name: </label><br>
  <%= f.text_field :name %><br>

  <label>Artist Id: <label><br>
  <%= f.text_field :artist_id %>

  <label>Genre Id: <label><br>
  <%= f.text_field :genre_id %>

  <%= f.submit "Create Song" %>
<% end %>
