<h3>Song Form</h3>

<%= form_tag songs_path do %>
  <label>Song Name:</label> 
  <br> <%= text_field_tag :"song[name]" %>  
  <label>Artist ID:</label>
  <br> <%= number_field_tag :"song[artist_id]" %>
  <label>Genre ID:</label>
  <br> <%= number_field_tag :"song[genre_id]" %>
  <br> <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<%= submit_tag "Create Song" %>

<% end %>