<%= form_for(@song) do |f| %>
  <label>Song Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Song Artist:</label><br>
  <%= f.text_field :artist_id %><br>

  <label>Song Genre:</label><br>
  <%= f.text_field :genre_id %><br>

  <%= f.submit %>
<% end %>
