<%= form_for(@song) do |f| %>
<label>song</label><br>
  <%= f.text_field :name %>
  <label>artist</label><br>
    <%= f.text_field :artist_id %>
    <label>genre</label><br>
      <%= f.text_field :genre_id %>
  <%= f.submit %>
<% end %>
