<h1>Song Form</h1>

<%= form_for(@song) do |f| %>
  <%= label_tag :name %> <br>
  <%= f.text_field :name %> <br>

  <%= label_tag :artist_id %> <br>
  <%= f.text_field :artist_id %> <br>

  <%= label_tag :genre_id %> <br>
  <%= f.text_field :genre_id %> <br>

  <%= f.submit "Create Song" %>
<% end %>
