<h1>Song Form:</h1>

  <%= form_for(@song) do |f| %>

  <label>Name:</label><br>
  <%= f.text_field :name %><br>

  <label>Genre:</label><br>
  <%= f.text_field :genre_id %><br>

  <label>Artist:</label><br>
  <%= f.text_field :artist_id %><br>

  <%= f.submit %>
<% end %>
