<h1>Song Form</h1>
<%= form_tag songs_path do %>
  <label>Song Title</label>
  <%= text_field_tag :'song[name]' %><br/>
  
  <label>Artist Id</label>
  <%= number_field_tag :'song[artist_id]' %><br/>
  
  <label>Genre Id</label>
  <%= number_field_tag :'song[genre_id]' %><br/>
  <%= submit_tag "Create Song" %>
<% end %>