<h1>Add New Song</h1>
<%= form_for(@song) do |f|%>
<label>My song name: </label><%= f.text_field :name%><br><br>
<label>Artist id: </label><%= f.text_field :artist_id%>
<label>Genre id: </label><%= f.text_field :genre_id%>
<%= f.submit value="Create Song" %>
<%end%>
