<h1>New Song Form</h1>

<%= form_for(@song) do |f| %>
  <label>Song Name:</label>
  <%= f.text_area :name %>

  <label>Artist:</label>
  <%= f.text_area :artist_id %>

  <label>Genre:</label>
  <%= f.text_area :genre_id %>

  <%= f.submit %>
<% end %>
