<h1>New Song</h1>

<%= form_for(@song) do |t| %>
  <label>Name:</label>
  <%= t.text_field :name %> <br>
  <label>Artist:</label>
  <%= t.text_field :artist_id %> <br>
  <label>Genre:</label>
  <%= t.text_field :genre_id %> <br>

  <%= t.submit %>
<% end %>
