<h1>Song Form</h1>

<%= form_for @song do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <%= f.label :artist_id %>
  <%= f.collection_select :artist_id, Artist.all, :id, :name %>

  <%= f.label :genre_id %>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <%= f.submit %>
<% end %>