<h1>Song Form</h1>
<%= form_for(@song) do |f| %>
  <label>Name</label><br>
  <%= f.text_field :name %>
  <label>Artist ID</label><br>
  <%= f.number_field :artist_id %>
  <label>Genre ID</label><br>
  <%= f.number_field :genre_id %>
  <%= f.submit %>
<% end %>
