
<h1>My Song - <a href="/songs/<%= @song.id %>"><%= @song.name %></h1>
<h1>My Genre - <a href="/genres/<%= @genre.id %>"><%= @genre.name %></h1>
<h1>My Artist - <a href="/artists/<%= @artist.id %>"><%= @artist.name %></h1>
