<h1>Song: <%=@song.name%></h1>

<h1>Artist: <%=@song.artist.name%></h1>
<p><%=link_to @song.artist.name, artist_path(@song.artist)%></p>

<h1>Genre: <%=@song.genre.name%></h1>
<p><%=link_to @song.genre.name, genre_path(@song.genre)%></p>
