<h1><%= @song.name %></h1>
<p><a href="/genres/<%= @song.genre_id %>"><%= Genre.find(@song.genre_id).name %></a></p>
<p><a href="/artists/<%= @song.artist_id %>"><%= Artist.find(@song.artist_id).name %></a></p>
