<h1>Song Name: <%= @song.name %></h1>
<h3>Artist: <%= link_to @artist.name, artist_path(@artist) %><%= @artist.name %></h3>
<h3>Genre: <%= link_to @genre.name, genre_path(@genre) %><%= @genre.name %></h3>
