<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2>
    <%= link_to 'Home', songs_path %>
    <%= link_to 'New Song', new_song_path %>
    <%= link_to 'Artists', artists_path %>
    <%= link_to 'Genres', genres_path %>
  </h2>
  
  <%= yield %>
</body>
</html>
