<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'All Artists', artists_path %>  
<%= link_to 'All Songs', songs_path %>
<%= link_to 'All Genres', genres_path %><br>

<%= link_to 'New Artist', new_artist_path %>
<%= link_to 'New Song', new_song_path %>
<%= link_to 'New Genre', new_genre_path %>

<%= yield %>

</body>
</html>
