<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container">
    <ul class="main-menu">
      <li><%= link_to "Artists", artists_path %></li>
      <li><%= link_to "New Artist", new_artist_path %></li>
      <li><%= link_to "Genres", genres_path %></li>
      <li><%= link_to "New Genre", new_genre_path %></li>
      <li><%= link_to "Songs", songs_path %></li>
      <li><%= link_to "New Song", new_song_path %></li>
    </ul>
  </div>
  
  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
